#home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.posts{
    width: 64%;
    height: 100%;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to bottom, #E6EFFB, #e6effb00) border-box;
    border-radius: 25px;
    border: 4px solid transparent;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.posts::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
.posts::-webkit-scrollbar-track{
    margin-top: 40px;
}
.posts::-webkit-scrollbar-thumb{
    background-color: lightgrey;
    border-radius: 5px;
}

.suggestion{
    width: 33%;
    height: 100%;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to bottom, #E6EFFB, #e6effb00) border-box;
    border-radius: 25px;
    border: 4px solid transparent;
}

#suggesthead{
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
    color: #2A1D69;
    font-size: 18px;
}

.home-box-loading{
    width: 87%;
    min-height: 70%;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 40px;
    overflow: hidden;
}

.suggest-box-loading{
    height: 45px;
    border-radius: 10px;
    width: 70%;
    margin-left: 40px;
    margin-top: 18px;
}

.number-nav{
    width: fit-content;
    display: flex;
    gap: 10px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.num-count{
    padding: 7px 15px;
    border:  2px solid var(--pcolor1);
    border-radius: 5px;
}

.pre-num{
    padding: 7px 15px;
    background-color: var(--pcolor1);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.pre-num:hover{
    background-color: var(--pcolor);
    color: white;
}

.pre-num:disabled{
    border: none;
}
.next-num{
    padding: 7px 15px;
    background-color: var(--pcolor1);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.next-num:hover{
    background-color: var(--pcolor);
    color: white;
}

.next-num:disabled{
    border: none;
}


@media (min-width: 320px) and (max-width:480px) {
    .posts{
        width: 100%;
        align-items: center;
        border: none;
        background: none;
        border-radius: 0px;
        overflow-x: visible;
    }
    .home-box-loading{
        width: 98%;
        min-height: 270px;
        margin: 0 0 20px 0;
        flex-direction: column;
    }
    .posts::-webkit-scrollbar{
        display: none;
    }

    .number-nav{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 100px;
    }
}