#profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userImage{
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--pcolor1);
}
.innerUserImage{
    width: 100%;
}

.userName{
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: var(--pcolor2);
    font-weight: 500;
}

.innerUser{
    display: flex;
    align-items: center;
    gap: 40px;
}

.user2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 10px;
}


#postimage21 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.posts2{
    display: flex;
    flex-direction: row;
    width: 81%;
    flex-wrap: wrap;
    height: 390px;
    margin-top: 20px;
    overflow-y: scroll;
}
.posts2::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
.posts2::-webkit-scrollbar-track{
    margin-top: 20px;
}
.posts2::-webkit-scrollbar-thumb{
    background-color: lightgrey;
    border-radius: 5px;
}

.post2{
    margin: 15px 0px 0px 15px;
    border-radius: 15px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--pcolor1);
}


#upload{
    display: none;
}

#uploadBtn{
    font-family: 'Inter', sans-serif;
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: var(--pcolor2);
    background-color: var(--pcolor1);
}

#uploadBtn:hover{
    transition: .2s;
    color: white;
    background-color: var(--pcolor);
}

#label{
    height: 70%;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploadImage{
    height: 100%;
}

#back{
    background-color: var(--pcolor1);
    color: var(--pcolor2);
    padding: 6px;
    border-radius: 10px;
}
#back:hover{
    transition: .2s;
    color: white;
    background-color: var(--pcolor);
}

.buttons{
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (min-width: 320px) and (max-width:480px) {
    #profile{
        width: 100%;
        height: 90%;
    }
    .user2{
        width: 80%;
    }
    .userImage{
        width: 60px;
        height: 60px;
    }
    .userName{
        font-size: 18px;
    }
    .innerUser{
        gap: 12px;
    }
    .posts2{
        width: 90%;
        height: 70vh;
        margin-top: 40px;
        justify-content: center;
    }   
    .post2{
        margin: 0 0 20px 0;
        width: 90%;
    }

    #uploadImage{
        width: 100%;
        height: auto;
        background-color: #E6EAEC;
    }

    #label{
        height: fit-content;
    } 
    .posts2::-webkit-scrollbar{
        display: none;
    }
}