#delete{
    width: 30px;
    height: 30px;
    background-color: red;
    grid-row: 1;
    grid-column: 1;
    margin: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete svg{
    font-size: 20px !important;
}

.post1:hover #delete{
    cursor: pointer;
    opacity: 1;
}

#postimage1{
    width: 100%;
    height: 100%;
    background-color: var(--pcolor1);
}

@media (min-width: 320px) and (max-width:480px) {
    #delete{
        opacity: 1;
    }    
}